.profile{
	color: #15236f; 
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.username{
	font-size: 40px;
	font-family: 'Verdana';
	font-weight: bold;
}

.id{
	font-style: italic;
}

.see-photos{
	text-transform: uppercase;
	font-size: 12px;
}

.see-photos:hover{
	color: yellow;
	cursor: pointer;
	transition: color 1000ms ease;
}

.aboutme{

}